<section class="page-image page-image-about md-padding">
  <h1 class="text-white text-center">ABOUT ME</h1>
</section>


<section id="aboutus" class="md-padding">
  <div class="container">

   
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-md-6">
        <img class="img-fluid" src="img/about.jpg" alt="">
      </div>
      <div class="col-md-6">
        <div class="bg-main text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <p class="mb-3 text-white">Hi all, my name is Sarah.
                <br>
                <br> Hi
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>